@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'typography';
@import 'layout';
@import 'sections';
@import 'hero';
@import 'header';
@import 'footer';
@import 'menus';
@import 'buttons';
@import 'logos';
@import 'speakers';
@import 'schedule';

.page-front {
    .menu--main {
        text-align: right;

        .row {
            display: block;
        }

        .menu__link:last-child {
            padding-right: 0;
        }

        .menu__logo,
        .menu__link.button {
            display: none;
        }
    }
}

.section--intro {
    @media ($screen-sm) {
        p:not(.section__description) {
            margin-left: calc(100% / 3 + #{$spacer / 2});
        }
    }
}

.section--venue {
    .location {
        margin-bottom: $spacer * 2;

        h3 {
            margin-bottom: $spacer / 4;
        }
    }

    .map {
        width: 100%;
        height: 25rem;
        margin-top: -$spacer;
        filter: grayscale(70%) contrast(120%);
        border: 5px solid rgba($brand-05, .5);
    }
}

.section--tickets {
    iframe {
        height: 370px;

        @media ($screen-sm) {
            height: 308px;
        }
    }
}

.section--wrigleygang {
    margin-top: $spacer * 2;

    @media ($screen-sm) {
        display: flex;

        .row {
            padding-left: $spacer * 2;
            padding-right: $spacer * 2;
        }
    }

    .half {
        padding-top: $spacer;
        padding-bottom: $spacer * 2;

        @media ($screen-sm) {
            flex: 0 0 50%;
        }

        &:first-child {
            background: rgba(#cad2da, .4); // $brand-main-gray-light from bigchaindb/site

            .row {
                margin-right: 0;
            }
        }

        &:last-child {
            background: rgba(darken(#cad2da, 5%), .4);

            .row {
                margin-left: 0;
            }
        }
    }

    .starbase {
        max-width: 100%;
        height: auto;
    }

    .section__title {
        border-top: 1px solid darken(#cad2da, 20%);
        padding-top: $spacer;
        margin-top: -1px;
        color: #074354; // $brand-main-blue
        font-size: 1.5rem;
    }
}

.wrigleygang__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .starbase {
        align-self: flex-end;
    }
}

.wrigleygang__link {
    &:nth-child(2n+1) {
        margin-left: $spacer;
    }
}

.section--partners {
    .grid {
        @media ($screen-sm) {
            display: flex;
            align-items: center;
            margin-left: -2rem;
        }
    }

    .grid__col {
        margin-top: $spacer;
        margin-bottom: 2rem;

        @media ($screen-sm) {
            flex: 0 0 (100%/3);
            margin-left: 2rem;
            margin-bottom: 0;
        }
    }

    a {
        display: block;
        transition: .15s ease-out;
    }
}
