//
// Logo
//

// default logo
.logo {
    fill: $brand-01;
    color: $brand-03; // the fill="currentColor" trick
    width: 300px;
    height: 21px;
    display: block;
}

//
// Color modifiers
//
.logo--white {
    color: #fff;
}

.logo--gray {
    color: $brand-06;
    fill: $brand-06;
}

//
// Size modifiers
//
.logo--sm {
    width: 170px;
    height: 16px;
}

//
// BigchainDB & IPDB logos
//
.logo-wrigleygang {
    width: 140px;
    height: 33px;
}

.logo--bigchaindb {
    fill: #074354; // $brand-main-blue
    color: #39ba91; // $brand-main-green // the fill="currentColor" trick
}

.logo--ipdb {
    fill: #074354;
}
