.menu {
    width: 100%;
}

.menu__link {
    padding: $spacer;
    display: inline-block;
    text-decoration: none;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    color: $brand-03;
    opacity: .8;
    transition: .15s ease-out;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.menu__link--logo {
    padding-bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;

    @media ($screen-sm) {
        padding-top: 0;
    }
}

.menu-overflow {
    // yummy scrolling
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: -$spacer;
    margin-right: -$spacer;
    padding-left: $spacer;
    padding-right: $spacer;
    text-align: center;

    &::-webkit-scrollbar { display: none; }

    @media ($screen-md) {
        margin: 0;
        padding: 0;
        white-space: normal;
        overflow: visible;
        text-align: left;
    }
}

.menu--main {
    .row {
        @media ($screen-sm) {
            display: flex;
            justify-content: space-between;
        }
    }

    .menu__link {
        &:first-child {
            margin-left: -($spacer);
        }

        &:last-child {
            margin-right: -($spacer);
        }
    }
}

.menu--footer {
    margin-top: $spacer * 4;

    .menu__link {
        padding: $spacer / 4 $spacer * 2 $spacer / 4 0;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    .logo {
        fill: $brand-01;
        color: $brand-03;
    }

    .contact {
        margin-top: $spacer / 2;
        margin-bottom: $spacer / 2;
    }

    .pages {
        display: flex;

        .menu__link {
            font-size: $font-size-small;

            &:last-child {
                justify-self: flex-end;
                padding-right: 0;
            }
        }
    }
}
