
.speaker {
    &.active {
        pointer-events: none;
        opacity: .3;
    }
}

.speaker__name {
    margin: 0;
}

.speaker__image {
    width: 100px;
    filter: grayscale(50%) contrast(120%);
    //filter: sepia(90%) hue-rotate(280deg);
    border: 5px solid rgba(#fff, .2);
    transition: .2s ease-out;

    @media ($screen-sm) {
        width: 170px;
    }
}

.speaker__intro {
    font-size: $font-size-large;
}

.speaker__links {
    padding: 0;

    li {
        display: inline-block;
        margin-right: $spacer;
    }
}

.header--speaker {
    .speaker {
        @media ($screen-sm) {
            display: flex;
            align-items: center;
        }
    }

    .speaker__image {
        @media ($screen-sm) {
            margin-right: 4.5rem;
        }

        @media ($screen-lg) {
            margin-right: 5.5rem;
        }
    }
}

.content--speaker {
    .speaker {
        @media ($screen-sm) {
            margin-left: calc(100% / 3 + #{$spacer / 2});
        }
    }
}

//
// Speaker list grid
//
.speakers {
    @media ($screen-sm) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$spacer;
    }

    .speaker {
        text-decoration: none;
        background: $brand-03;
        color: #fff;
        display: block;
        padding: 1rem;
        transition: .2s ease-out;
        font-size: $font-size-small;
        margin-bottom: $spacer;

        @media ($screen-sm) {
            flex: 0 1 calc(50% - #{$spacer});
            margin-left: $spacer;
            display: flex;
            align-items: center;
        }

        &:hover {
            background: $brand-01;

            .speaker__image {
                filter: none;
            }
        }
    }

    .speaker__image {
        width: 60px;
        height: 60px;
        margin-right: $spacer / 2;
        border-width: 3px;
    }

    .speaker__name {
        font-size: $font-size-base;
        color: #fff;
    }

    .speaker__company {
        opacity: .7;
    }
}

.speakers__info {
    text-align: center;
}
