
.speaker {
    &.active {
        pointer-events: none;
        opacity: .3;
    }
}

.speaker__name {
    margin: 0;
}

.speaker__image {
    width: 100px;
    filter: grayscale(50%) contrast(120%);
    border: 5px solid rgba(#fff, .2);
    transition: .15s ease-out;

    @media ($screen-sm) {
        width: 170px;
    }
}

.speaker__intro {
    font-size: $font-size-large;
    margin-bottom: $spacer * 2;
}

.speaker__content {
    margin-bottom: $spacer;
}

.speaker__links {
    padding: 0;

    li {
        display: inline-block;
        margin-right: $spacer;

        a { font-weight: $font-weight-bold; }
    }
}

.header--speaker {
    .speaker {
        @media ($screen-sm) {
            display: flex;
            align-items: center;
        }
    }

    .speaker__image {
        @media ($screen-sm) {
            margin-right: 4.5rem;
        }

        @media ($screen-lg) {
            margin-right: 5.5rem;
        }
    }
}

.content--speaker {
    .speaker__content,
    .speaker__links {
        @media ($screen-sm) {
            margin-left: calc(100% / 3 + #{$spacer / 2});
        }
    }
}

.speaker__talk {
    margin-top: $spacer * 3;
}

.talk {
    border: 2px solid $brand-05;
    padding: $spacer;
}

.talk__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;

    &:after {
        content: '//';
        color: $brand-02;
        font-family: $font-family-silkscreen;
        margin-left: .3rem;
    }
}

.talk__time {
    margin-bottom: $spacer / 2;
    font-weight: $font-weight-bold;
    color: $brand-06;
}

//
// Speaker list grid
//
.speakers {
    @media ($screen-sm) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$spacer;
    }

    .speaker {
        text-decoration: none;
        background: $brand-03;
        color: #fff;
        border: .15rem solid $brand-01;
        padding: $spacer;
        transition: .15s ease-out;
        font-size: $font-size-small;
        margin-bottom: $spacer;
        display: flex;
        align-items: center;

        @media ($screen-sm) {
            flex: 0 1 calc(50% - #{$spacer});
            margin-left: $spacer;
        }

        &:hover {
            background: $brand-01;

            .speaker__image {
                filter: none;
            }
        }
    }

    .speaker__content {
        margin-bottom: 0;
    }

    .speaker__image {
        width: 60px;
        height: 60px;
        margin-right: $spacer / 2;
        border-width: 3px;
    }

    .speaker__name {
        font-size: $font-size-base;
        color: #fff;
    }

    .speaker__company {
        opacity: .7;
    }
}

.speakers__info {
    text-align: center;
}
