//
// Speaker list grid
//
.speaker-list {
    @media ($screen-sm) {
        display: flex;
        margin-left: -$spacer;
    }

    .speaker {
        text-decoration: none;
        background: #444;
        color: #fff;
        display: block;
        padding: 1rem;
        transition: .2s ease-out;
        font-size: .9rem;
        margin-bottom: $spacer;

        @media ($screen-sm) {
            flex-basis: (100% / 3);
            margin-left: $spacer;
        }

        &:hover {
            background: #000;
        }
    }

    .speaker__name {
        font-size: 1.1rem;
        margin: 0;
        color: #fff;
    }
}
