
.speaker {
    &.active {
        pointer-events: none;
        opacity: .3;
    }
}

.speaker__name {
    margin: 0;
}

.speaker__image {
    img {
        width: 100px;
        clip-path: polygon(50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0 60%, 10% 20%);
        filter: grayscale(100%) contrast(120%);
        //filter: sepia(90%) hue-rotate(270deg);

        @media ($screen-sm) {
            width: 180px;
        }

        @media ($screen-lg) {
            width: 200px;
        }
    }
}

.speaker__intro {
    font-size: $font-size-large;
}

.speaker__links {
    padding: 0;

    li {
        display: inline-block;
        margin-right: $spacer;
    }
}

.header--speaker {
    .speaker {
        @media ($screen-sm) {
            display: flex;
            align-items: center;
        }
    }

    .speaker__image {
        @media ($screen-sm) {
            min-width: calc(100% / 3 + #{$spacer / 2});
        }
    }

    .speaker__company,
    .speaker__location {
        opacity: .7;
    }
}

.content--speaker {
    .speaker {
        @media ($screen-sm) {
            margin-left: calc(100% / 3 + #{$spacer / 2});
        }
    }
}

//
// Speaker list grid
//
.speakers {
    @media ($screen-sm) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$spacer;
    }

    .speaker {
        text-decoration: none;
        background: $brand-03;
        color: #fff;
        display: block;
        padding: 1rem;
        transition: .2s ease-out;
        font-size: $font-size-small;
        margin-bottom: $spacer;

        @media ($screen-sm) {
            flex: 0 1 calc(100% / 3 - #{$spacer});
            margin-left: $spacer;
        }

        &:hover {
            background: $brand-01;
        }
    }

    .speaker__name {
        font-size: $font-size-base;
        color: #fff;
    }

    .speaker__company {
        opacity: .7;
    }
}
