
//
// Colors
//
$brand-01:                  #ec008c !default;
$brand-02:                  #f7931d !default;
$brand-03:                  #202a30 !default;

//
// Typography
//
$font-family-base:          Inconsolata, monospace !default;
$font-size-root:            16px !default;
$font-size-root-lg:         18px !default;
$line-height:               1.4 !default;
$spacer:                    1.5rem !default;

$font-size-base:            1rem !default;
$font-size-large:           1.3rem !default;
$font-size-small:           .8rem !default;
$font-size-mini:            .7rem !default;

//
// Responsive breakpoints
//
$screen-sm-min:             40em !default;
$screen-md-min:             58em !default;
$screen-lg-min:             85em !default;

$screen-sm:                 'min-width: #{$screen-sm-min}';
$screen-md:                 'min-width: #{$screen-md-min}';
$screen-lg:                 'min-width: #{$screen-lg-min}';
