@import 'variables';

.silkscreen,
.inconsolata {
    font-size: 6vw;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$spacer;
    width: calc(100% + $spacer);
}

.color {
    flex: 0 1 29.5%;
    margin-left: $spacer;
    margin-bottom: $spacer;
    padding: $spacer / 2;
    border: 1px solid #fff;
    color: #fff;
}

.color--brand-01 { background: $brand-01; }
.color--brand-02 { background: $brand-02; }
.color--brand-03 { background: $brand-03; }

.color--brand-04 {
    background: $brand-04;
    color: $text-color;
}

.color--brand-05 { background: $brand-05; }
.color--brand-06 { background: $brand-06; }

.color__meta {
    display: block;
}
