---
layout: base
---

{% assign speaker = page %}

{% include menu.html %}

<header class="header header--speaker">
    <div class="row">

        <div class="speaker speaker--{{ speaker.id }} ">
            <div class="speaker__image">
                <img src="/assets/img{{ speaker.id }}.jpg" alt="">
            </div>
            <div class="speaker__text">
                <h1 class="speaker__name">
                    {{ speaker.name }}
                </h1>
                <div class="speaker__company">{{ speaker.position }}, {{ speaker.company }}</div>
                <div class="speaker__location">{{ speaker.location }}</div>
            </div>
        </div>

    </div>
    <div class="stage" id="drawing"></div>
</header>

<main class="content content--speaker section" role="main">
    <div class="row">

        <article class="speaker">
            <div class="speaker__info">
                {% if speaker.intro %}
                <p class="speaker__intro">
                    {{ speaker.intro }}
                </p>
                {% endif %}

                <div class="speaker__content">
                    {{ speaker.content }}
                </div>

                <ul class="speaker__links">
                    {% for link in speaker.links %}
                    <li class="speaker__link">
                        <a href="{{ link.url }}">{{ link.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </article>

    </div>
</main>

<aside class="section">
    <div class="row">
        {% include speakers-list.html %}
    </div>
</aside>
