---
layout: base
---

{% assign speaker = page %}
{% assign talk = site.talks | where: 'talk_id', speaker.talk_id | first %}

{% include menu.html %}

<header class="header header--speaker">
    <div class="row">

        <div class="speaker speaker--{{ speaker.id }} ">
            <img class="speaker__image" src="/assets/img{{ speaker.id }}.jpg" alt="{{ speaker.name }}">
            <div class="speaker__text">
                <h1 class="speaker__name">
                    {{ speaker.name }}
                </h1>
                <div class="speaker__company">{{ speaker.position }}{% if speaker.company %}, {{ speaker.company }}{% endif %}</div>
                <div class="speaker__location">{{ speaker.location }}</div>
            </div>
        </div>

    </div>
    <div class="stage" id="drawing"></div>
</header>

<main class="content content--speaker section" role="main">
    <div class="row">

        <article class="speaker">
            <div class="speaker__info">
                {% if speaker.intro %}
                <div class="speaker__intro">
                    {{ speaker.intro | markdownify }}
                </div>
                {% endif %}

                <div class="speaker__content">
                    {{ speaker.content | markdownify }}
                </div>

                <ul class="speaker__links">
                    {% for link in speaker.links %}
                    <li class="speaker__link">
                        <a href="{{ link.url }}">{{ link.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% if talk %}
            <aside class="speaker__talk">
                <h2 class="speaker__talk__title">{{ talk.type }} <em class="divider--9984">>></em> 9984</h2>
                <div class="talk">
                    <h3 class="talk__title">{{ talk.title }}</h3>
                    <div class="talk__time">Time: {{ talk.time }}</div>
                    <div class="talk__content">
                        {{ talk.content | markdownify }}
                    </div>
                </div>
            </aside>
            {% endif %}
        </article>

    </div>
</main>

<aside class="section">
    <div class="row">
        {% include speakers-list.html %}
    </div>
</aside>
