<footer class="footer">
    <div class="row">

        <nav class="menu menu--footer">
            <a class="menu__link menu__link--logo" href="/">
                <svg class="logo logo--sm logo--gray" aria-labelledby="title"><title>Logo 9984 >> SUMMIT</title><use xlink:href="/assets/img/sprite.svg#logo"></use></svg>
            </a>

            <div class="contact">
                <a class="menu__link" href="https://twitter.com/bigchaindb">@bigchaindb</a>
                <a class="menu__link" href="https://twitter.com/ipdbfoundation">@ipdbfoundation</a>
                <a class="menu__link" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>

            <div class="pages">
                <div class="menu-overflow">
                    <a class="menu__link" href="/speakers/">Speakers</a>
                    <a class="menu__link" href="/code-of-conduct/">Code of Conduct</a>
                    <a class="menu__link" href="/terms/">Terms</a>
                    <a class="menu__link" href="/imprint/">Imprint</a>
                    <a class="menu__link" href="/styleguide/">Styleguide</a>
                    <a class="menu__link" href="https://github.com/{{ site.github.org }}/{{ site.github.repo }}/blob/master/_src/{{ page.path }}">// Edit on GitHub</a>
                </div>
            </div>
        </nav>

        <div class="footer__copyright">
            &copy; 9984 >> SUMMIT courtesy of <a href="https://ipdb.foundation">IPDB</a> and <a href="https://www.bigchaindb.com">BigchainDB</a>, {{ site.time | date: "%Y" }}. All rights reserved.
        </div>

    </div>
</footer>
