<footer class="footer">
    <div class="row">

        <svg class="logo logo--sm logo--gray" aria-labelledby="title"><title>Logo 9984 >> SUMMIT</title><use xlink:href="/assets/img/sprite.svg#logo"></use></svg>

        <nav class="menu-footer">
            <a class="menu__link" href="/code-of-conduct/">Code of Conduct</a>
            <a class="menu__link" href="/imprint/">Imprint</a>
            <a class="menu__link" href="https://github.com/{{ site.github.org }}/{{ site.github.repo }}/blob/master/_src/{{ page.path }}">Edit on GitHub</a>
        </nav>
    </div>
</footer>
