<nav class="menu menu--main">
    <div class="row">
        <div class="menu__logo">
            <a class="menu__link menu__link--logo" href="/">
                <svg class="logo logo--sm" aria-labelledby="title"><title>Logo 9984 >> SUMMIT</title><use xlink:href="/assets/img/sprite.svg#logo"></use></svg>
            </a>
        </div>

        <div class="menu__items">
            <div class="menu-overflow">
                <a class="menu__link" href="/speakers/">Speakers</a>
                <a class="menu__link" href="/schedule/">Schedule</a>
            </div>
        </div>
    </div>
</nav>
