<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "location": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Berlin",
                "addressRegion": "Berlin",
                "postalCode": "",
                "streetAddress": ""
            },
            "name": ""
        },
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "about": "IPDB will link 200 leading blockchain developers and enterprises at its inaugural 9984 >> SUMMIT to exchange insights, tackle challenges, and build a decentralized tomorrow, together with BigchainDB.",
        "url": "{{ site.url }}",
        "organizer": "IPDB Foundation & BigchainDB",
        "offers": {
            "@type": "Offer",
            "price": "29.00",
            "priceCurrency": "EUR",
            "url": "{{ site.url }}/#tickets"
        },
        "startDate": "2017-10-05T09:00:00+02:00",
        "endDate": "2017-10-06T23:00:00+02:00"
    }
</script>

<meta name="google-site-verification" content="aPDu1OqXE49bnK3-0S8Cen_sI9WIk4dYpoDPCWSuOwo" />
