
<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@bigchaindb">

{% if page.front_page %}
    <meta name="twitter:title" content="{{ site.title }}">
{% else %}
    <meta name="twitter:title" content="{{ page.title }} // {{ site.title }}">
{% endif %}

{% if page.url %}
    <meta name="twitter:url" content="{{ site.url}}{{ page.url | replace:'index.html','' }}">
{% endif %}

{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
{% elsif page.front_page %}
    <meta name="twitter:description" content="{{ site.description }}">
{% else %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% endif %}

{% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.image }}">
{% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/share-image.jpg">
{% endif %}


<!-- Open Graph -->
<meta content="website" property="og:type">
<meta content="{{ site.title }}" property="og:site_name">

{% if page.front_page %}
    <meta property="og:title" content="{{ site.title }}">
{% else %}
    <meta property="og:title" content="{{ page.title }} // {{ site.title }}">
{% endif %}

{% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
{% elsif page.front_page %}
    <meta property="og:description" content="{{ site.description }}">
{% else %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
{% endif %}

{% if page.url %}
    <meta property="og:url" content="{{ site.url}}{{ page.url | replace:'index.html','' }}">
{% endif %}

{% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if page.image %}
    <meta content="{{ site.url }}/assets/img/{{ page.image }}" property="og:image">
{% else %}
    <meta content="{{ site.url }}/assets/img/share-image.jpg" property="og:image">
{% endif %}


<!-- schema.org event metadata -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "location": {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Berlin",
                "addressRegion": "Berlin",
                "postalCode": "",
                "streetAddress": ""
            },
            "name": ""
        },
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "about": "IPDB will link 200 leading blockchain developers and enterprises at its inaugural 9984 >> SUMMIT to exchange insights, tackle challenges, and build a decentralized tomorrow, together with BigchainDB.",
        "url": "{{ site.url }}",
        "organizer": "IPDB Foundation & BigchainDB",
        "offers": {
            "@type": "Offer",
            "price": "29.00",
            "priceCurrency": "EUR",
            "url": "{{ site.url }}/#tickets"
        },
        "startDate": "2017-10-05T09:00:00+02:00",
        "endDate": "2017-10-06T23:00:00+02:00"
    }
</script>

<meta name="google-site-verification" content="aPDu1OqXE49bnK3-0S8Cen_sI9WIk4dYpoDPCWSuOwo" />
