---
layout: base
front_page: true

description: "October 5 - 6, 2017, Berlin // Blockchain Futures for Developers, Enterprises &amp; Society"
---

{% assign content = site.data.content-front %}

<header class="hero section">

    {% include menu.html %}

    <div class="row event-wrapper">
        <hgroup class="hero__title">
            <h1 class="hero__name event-title">9984 <span class="divider--9984">>></span> SUMMIT 2017</h1>
            <h2 class="hero__date"><span class="event-date">October 5 - 6, 2017</span> <span class="location">Berlin, Germany</span></h2>
        </hgroup>
        <h2 class="hero__tagline description">{{ site.description }}</h2>
        <p class="hero__intro">{{ content.hero.text }}</p>

        <a class="button button--primary scroll" href="#tickets">{{ content.hero.button }} <span class="button__sub event-price">{{ content.hero.price }}</span></a>

    </div>

    <aside class="hero__logos">
        <div class="row">
            <div class="hero__logos__block">
                <div class="hero__logos__text text--9984">
                    presented by
                </div>
                <svg class="hero__logo logo-wrigleygang" aria-labelledby="title"><title>Logo IPDB</title><use xlink:href="/assets/img/sprite.svg#logo-ipdb"></use></svg>
            </div>

            <div class="hero__logos__block">
                <div class="hero__logos__text text--9984">
                    powered by
                </div>
                <svg class="hero__logo logo-wrigleygang" aria-labelledby="title"><title>Logo BigchainDB</title><use xlink:href="/assets/img/sprite.svg#logo-bigchaindb"></use></svg>
            </div>
        </div>
    </aside>

    <div class="stage" id="drawing"></div>
</header>

<section class="section section--intro">
    <div class="row">
        <h1 class="section__title">{{ content.intro.title }}</h1>
        <p class="section__description">{{ content.intro.description }}</p>

        <div class="">
            {{ content.intro.content | markdownify }}
        </div>
    </div>
</section>

<section class="section section--speakers">
    <div class="row">
        <h1 class="section__title">{{ content.speakers.title }}</h1>

        {% include speakers-list.html %}
    </div>
</section>

<section id="tickets" class="section section--tickets">
    <div class="row">
        <h1 class="section__title">{{ content.tickets.title }}</h1>

        {{ content.tickets.text | markdownify }}

        <a class="button button--primary" href="https://www.eventbrite.com/e/9984-summit-blockchain-futures-for-developers-enterprises-society-tickets-35492781866">{{ content.tickets.button }}</a>
    </div>
</section>

<section class="section--wrigleygang">
    <div class="half">
        <div class="row">
            <figure class="wrigleygang__header">
                <svg class="logo logo--ipdb logo-wrigleygang" aria-labelledby="title"><title>Logo IPDB</title><use xlink:href="/assets/img/sprite.svg#logo-ipdb"></use></svg>

                <svg class="starbase">
                    <use xlink:href="/assets/img/sprite.svg#starbase-ipdb"></use>
                </svg>
            </figure>

            <h1 class="section__title">{{ content.wrigleygang.ipdb.title }}</h1>

            {{ content.wrigleygang.ipdb.text | markdownify }}

            {% for link in content.wrigleygang.ipdb.links %}
                <a class="button button--small" href="{{ link.link }}">{{ link.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="half">
        <div class="row">
            <figure class="wrigleygang__header">
                <svg class="logo logo--bigchaindb logo-wrigleygang" aria-labelledby="title"><title>Logo BigchainDB</title><use xlink:href="/assets/img/sprite.svg#logo-bigchaindb"></use></svg>

                <svg class="starbase">
                    <use xlink:href="/assets/img/sprite.svg#starbase-bigchaindb"></use>
                </svg>
            </figure>

            <h1 class="section__title">{{ content.wrigleygang.bigchaindb.title }}</h1>

            {{ content.wrigleygang.bigchaindb.text | markdownify }}

            {% for link in content.wrigleygang.bigchaindb.links %}
                <a class="button button--small" href="{{ link.link }}">{{ link.title }}</a>
            {% endfor %}
        </div>
    </div>
</section>
